.logo {
  height: 2.6rem;
}
.header {
  border-bottom: 0.32rem solid #e5e7eb !important;
  height: auto;
}
::ng-deep .p-menubar {
  height: 2.8rem;
  background-color: white;
  border: none;
}
::ng-deep .p-menubar-start {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  font-weight: 700;
  font-size: 1rem;
}
::ng-deep .p-menubar b {
  padding: 0% !important;
  margin: 0% !important;
  font-size: 1.5rem;
}

::ng-deep .p-menubar .p-menubar .p-menuitem-link {
  padding: 0.6rem !important;
}

ng-deep .p-menubar .p-submenu-list {
  padding: 0.5rem 0;
  background: #ffffff;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  width: 12.5rem !important;
  font-size: 1rem;
}

/* ::ng-deep .p-dropdown .p-dropdown-trigger-icon {
  display: none;
  padding: 0%;
  border: none;
}
::ng-deep .p-dropdown .p-dropdown-trigger {
  width: 0.2rem;
  border: 0 none !important;
} */

/* ::ng-deep .p-component {
  border: none;
} */
/* ::ng-deep .p-dropdown-items-wrapper {
  margin-top: 6px;
} */

::ng-deep .p-button.p-button-icon-only {
  width: 3rem;
  padding: 0.75rem 0;
  color: black;
}
/* ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.25rem 0.7rem !important;
} */
