<div
  class="header"
  *transloco="let t"
>
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img
        src="assets/images/logo.svg"
        class="logo"
      />
      <img
        src="assets/images/logo_ecmca.png"
        class="logo2 mr-5"
      />
      <b class="mb-k4 mt-3">
        {{ ecmca }}
      </b>
    </ng-template>
    <ng-template pTemplate="end">
      <p-dropdown
        class="mr-2"
        [pTooltip]="t('header.cambiar_idioma')"
        tooltipPosition="bottom"
        styleClass="dropdown-css-override"
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        (onChange)="changeLanguage()"
      >
        <ng-template pTemplate="selectedItem">
          <span
            class="material-icons nav-icons"
            aria-hidden="true"
          >
            translate
          </span>
        </ng-template>
      </p-dropdown>

      <p-button
        class="mr-2"
        styleClass="p-button-text"
        tooltipPosition="bottom"
        [pTooltip]="t('header.signout')"
      >
        <span class="material-icons nav-icons"> logout </span>
      </p-button>
    </ng-template>
  </p-menubar>
</div>
