.logo2 {
  height: 2.8rem;
  width: 4.5rem;
  margin-bottom: 0.9rem;
}
.logo {
  height: 2.6rem;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

::ng-deep .p-menubar {
  height: 3rem;
  background-color: white;
  border: none;
}
::ng-deep .p-menubar-start {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  font-weight: 700;
  font-size: 1rem;
}
::ng-deep .p-menubar b {
  padding: 0% !important;
  margin: 0% !important;
  font-size: 1.5rem;
}

::ng-deep .p-menubar .p-menubar .p-menuitem-link {
  padding: 0.6rem !important;
}

ng-deep .p-menubar .p-submenu-list {
  padding: 0.5rem 0;
  background: #ffffff;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  width: 12.5rem !important;
  font-size: 1rem;
}

::ng-deep.dropdown-css-override {
  display: none;
  padding: 0%;
  border: none;
  .p-dropdown-items-wrapper {
    margin-top: 0.5rem;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 0.45rem 0.7rem !important;
  }
  .p-dropdown-trigger {
    width: 1rem !important;
  }
}

::ng-deep .nav-icons {
  font-size: 1.4rem;
  color: black !important;
}
