.text-size {
  font-size: 1.3rem;
}
.color-1 {
  color: rgb(68, 159, 204);
}
.h-25 {
  height: 2.7rem !important;
}

::ng-deep .accordion {
  height: auto;
  .p-accordion-toggle-icon {
    width: 0;
  }
  .p-accordion-toggle-icon-end {
    order: 0;
  }
  .p-accordion-content {
    padding: 0.3rem;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0;
    background-color: #7b6c6a26;
    text-decoration: none;
    width: 100%;
  }
  .p-accordion p-accordiontab .p-accordion-tab {
    width: 99%;
  }
}

::ng-deep .custom-button {
  height: 2rem !important;
  width: 6rem;
  padding: 0.4rem;
  margin: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(68, 159, 204);
  .icon-only .pi {
    color: rgb(13, 121, 175);
  }
}

::ng-deep .custom-button:hover:not(:disabled) {
  background-color: rgb(68, 159, 204) !important;
}

::ng-deep hr {
  margin: 0.1rem;
}
input {
  height: 0.8rem;
  width: 100%;

  border-radius: 0.2rem;
  border-color: black;
}
.w-100 {
  width: 100%;
}
label {
  font-size: 12px;
}
::ng-deep .dropdown {
  height: 1.6rem;
  border-radius: 0.2rem;
  border-color: black;
  .p-icon {
    color: rgb(68, 159, 204);
  }
}

::ng-deep .calender {
  height: 1.6rem;
  .p-button-icon-only {
    width: 5rem;
    padding: 0.75rem 0;
    border-left: none;
    border-color: black;
  }

  .p-button:hover:not(:disabled) {
    background-color: white !important;
    color: black;
    border-left: none;
    border-color: black;
  }

  .p-button {
    background-color: white !important;
    color: black;
    border-left: none;
    border-radius: 0.2rem;
    border-color: black;
  }

  .p-inputtext {
    border-right: none;
    border-radius: 0.2rem;
    border-color: black;
  }

  .p-inputtext:hover:not(:disabled) {
    border-right: none;
    border-radius: 0.2rem;
    border-color: black;
  }
  .p-datepicker .p-datepicker-header {
    padding: 0rem;
    height: 25px;
  }
  .p-datepicker table th,
  .p-datepicker table td {
    padding: 0px;
  }
  .p-datepicker {
    top: 28px !important;
    left: -34px !important;
    right: -16px !important;
  }
}
