<div class="w-100">
  <div class="row w-100 h-25">
    <div class="col-md-6 mt-3">
      <p class="text-size color-1">{{ RegistroDeEntidades }}</p>
    </div>
    <div class="col-md-6 justify-content-end d-flex">
      <button
        pButton
        type="button"
        class="custom-button"
      >
        Volver
        <span class="icon-only">
          <i
            iconPos="right"
            class="pi pi-arrow-left"
          ></i>
        </span>
      </button>

      <button
        pButton
        type="button"
        class="custom-button mr-2"
        [disabled]="
          !(
            DatosPrincipalesForm.get('cif')?.valid &&
            DatosPrincipalesForm.get('razonSocial')?.valid &&
            DatosPrincipalesForm.get('domicilioSocia')?.valid
          )
        "
        (click)="onSubmit()"
      >
        Guardar
        <span class="icon-only ml-1">
          <i
            iconPos="right"
            class="pi pi-save"
          ></i>
        </span>
      </button>
      <button
        pButton
        type="button"
        class="custom-button mr-2"
      >
        Archive
        <span class="icon-only ml-1">
          <i
            iconPos="right"
            class="pi pi-save"
          ></i>
        </span>
      </button>
    </div>
  </div>
  <hr />
  <p-accordion
    class="accordion"
    [activeIndex]="0"
  >
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <p class="color-1">Datos Principales de la empresa</p>
        </div>
      </ng-template>
      <ng-template
        pTemplate="content"
        contentStyle="accordion-content"
      >
        <form [formGroup]="DatosPrincipalesForm">
          <div class="row text">
            <div class="col-2">
              <label for="lastname2">CIF*</label>
              <div class="w-100">
                <input
                  id="cif"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext"
                  formControlName="cif"
                />
              </div>
            </div>
            <div class="col-4">
              <label for="lastname2">Razón Social*</label>
              <div class="w-100">
                <input
                  id="razonSocial"
                  type="text"
                  [maxLength]="250"
                  class="p-inputtext"
                  formControlName="razonSocial"
                />
              </div>
            </div>
            <div class="col-6">
              <label for="lastname2">Domicilio Social*</label>
              <div class="w-100">
                <input
                  id="domicilioSocia"
                  type="text"
                  [maxLength]="250"
                  class="p-inputtext"
                  formControlName="domicilioSocia"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-4">
                  <label for="provincia">Provincia</label>
                  <div class="w-100">
                    <p-dropdown
                      id="provincia"
                      styleClass="dropdown"
                      [editable]="true"
                      optionLabel="name"
                      placeholder=" "
                      formControlName="provincia"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-5">
                  <label for="lastname2">Municipio </label>
                  <div class="w-100">
                    <p-dropdown
                      styleClass="dropdown"
                      [editable]="true"
                      optionLabel="name"
                      placeholder=" "
                      formControlName="municipio"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="col-3">
                  <label for="cPostal">C. Postal</label>
                  <div class="w-100">
                    <p-dropdown
                      id="cPostal"
                      styleClass="dropdown"
                      [editable]="true"
                      optionLabel="name"
                      placeholder=" "
                      formControlName="cPostal"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-2">
                  <label for="nRegistro">Nº Registro</label>
                  <div class="w-100">
                    <input
                      id="nRegistro"
                      type="text"
                      [maxLength]="9"
                      class="p-inputtext"
                      formControlName="nRegistro"
                    />
                  </div>
                </div>
                <div class="col-5">
                  <label for="fechaSolicitudDeInscripción"
                    >Fecha Solicitud de Inscripción
                  </label>
                  <div class="w-100">
                    <p-calendar
                      id="fechaSolicitudDeInscripción"
                      styleClass="calender"
                      dateFormat="dd/mm/yy"
                      [showIcon]="true"
                      placeholder="dd.mm.yyyy"
                      formControlName="fechaSolicitudDeInscripción"
                    ></p-calendar>
                  </div>
                </div>
                <div class="col-5">
                  <label for="fechaBaja">Fecha Baja</label>
                  <div class="w-100 calender-container">
                    <p-calendar
                      id="fechaBaja"
                      styleClass="calender"
                      [showIcon]="true"
                      placeholder="dd.mm.yyyy"
                      formControlName="fechaBaja"
                    ></p-calendar>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <label for="email">E-mail</label>
              <div class="w-100">
                <input
                  id="email"
                  type="text"
                  [maxLength]="50"
                  class="p-inputtext border-1"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="col-2">
              <label for="telefono">Teléfono</label>
              <div class="w-100">
                <input
                  id="telefono"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext border-1"
                  formControlName="telefono"
                />
              </div>
            </div>
            <div class="col-3">
              <label for="fax">Fax</label>
              <div class="w-100">
                <input
                  id="fax"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext border-1"
                  formControlName="fax"
                />
              </div>
            </div>
            <div class="col-2">
              <label for="lastname2">Publicar en web</label>
              <div class="w-100">
                <p-checkbox
                  [binary]="true"
                  inputId="publicEnWeb"
                  formControlName="publicarEnWeb"
                ></p-checkbox>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="observaciones">Observaciones</label>
              <div class="w-100">
                <input
                  id="observaciones"
                  type="text"
                  [maxLength]="80"
                  class="p-inputtext"
                  formControlName="observaciones"
                />
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>
