<div
  class="mainStyle"
  style="flex: 0 0 100%"
  *transloco="let t"
>
  <span class="headerStyle">{{ t('campoDeActuacion.title') }}</span>
  <div class="d-flex flex-row justify-content-between mt-2">
    <div class="d-flex flex-column gap-2 col-2">
      <label htmlFor="username">{{ t('campoDeActuacion.field_id') }}</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="id"
      />
    </div>
    <div class="d-flex flex-column gap-2 col-5">
      <label htmlFor="username">{{
        t('campoDeActuacion.field_description')
      }}</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="description"
      />
    </div>
    <div class="d-flex flex-column gap-2 col-5">
      <label htmlFor="username">{{
        t('campoDeActuacion.field_descriptionVal')
      }}</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="descriptionVal"
      />
    </div>
  </div>
  <div class="d-flex justify-content-end my-4 mr-2">
    <button
      pButton
      [label]="t('campoDeActuacion.search_button')"
      icon="pi pi-search"
      iconPos="right"
      class="actionStyle mr-2"
      (click)="filterHandler()"
    ></button>
    <button
      pButton
      [label]="t('campoDeActuacion.clear_button')"
      icon="pi pi-eraser"
      iconPos="right"
      class="actionStyle mr-2"
      (click)="clearAll()"
    ></button>
    <button
      pButton
      [label]="t('campoDeActuacion.add_button')"
      icon="pi pi-plus"
      iconPos="right"
      class="actionStyle"
    ></button>
  </div>
  <div class="card">
    <p-toast></p-toast>
    <p-table
      [value]="campoDeActuacions"
      dataKey="id"
      editMode="row"
      [tableStyle]="{ 'min-width': '50rem' }"
      #dt
      [rows]="10"
      [paginator]="true"
      [first]="first"
      [globalFilterFields]="['id', 'description', 'descriptionVal']"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowHover]="true"
      dataKey="id"
      [showFirstLastIcon]="false"
      attr.data-content="{{ t('campoDeActuacion.add_button') }}"
      (onPage)="pageChange($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            pSortableColumn="id"
            style="width: 10%"
          >
            {{ t('campoDeActuacion.field_id') }}
            <p-sortIcon field="id">
              <img src="assets/images/sort_both.png"
            /></p-sortIcon>
          </th>
          <th style="width: 40%">
            {{ t('campoDeActuacion.field_description') }}
          </th>
          <th style="width: 40%">
            {{ t('campoDeActuacion.field_descriptionVal') }}
          </th>
          <th style="width: 10%"></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-product
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="product">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="product.id"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.id }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="product.description"
                  required
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.description }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="product.descriptionVal"
                  required
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.descriptionVal }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center gap-2">
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                (click)="onRowEditInit(product)"
                class="p-button-rounded p-button-text"
              >
                <img
                  src="assets/images/glyphicons-halflings-13-pencil@2x.png"
                  height="20"
                />
              </button>
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                (click)="onDeleteHandler(product)"
                class="p-button-rounded p-button-text"
              >
                <img
                  src="assets/images/glyphicons-halflings-7-bin@2x.png"
                  height="20"
                />
              </button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(product)"
                class="p-button-rounded p-button-text p-button-success mr-2"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel(product, ri)"
                class="p-button-rounded p-button-text p-button-danger"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="paginatorleft"
        let-state
      >
        <div class="d-flex flex-row justify-content-between">
          <span class="d-flex flex-column justify-content-center gap-2 col-8">{{
            t('campoDeActuacion.pagination_text', {
              first: state.first,
              last:
                state.first + state.rows > state.totalRecords
                  ? state.totalRecords
                  : state.first + state.rows,
              totalRecords: state.totalRecords
            })
          }}</span>
          <p-button
            class="d-flex flex-column gap-2 col-4"
            type="button"
            [label]="t('campoDeActuacion.previous')"
            styleClass="p-button-text paginator-button"
            (click)="prev()"
            [disabled]="isFirstPage()"
          ></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          [label]="t('campoDeActuacion.next')"
          styleClass="p-button-text paginator-button"
          (click)="next()"
          [disabled]="isLastPage()"
        ></p-button>
      </ng-template>
    </p-table>
  </div>
</div>
