.labelStyle {
    font-size: 1rem;
    color: var(--grey-black);
}

.inputStyle {
    border: 2px solid var(--light-grey);
    height: 2.125rem;
    font-size: 1rem;
}

.inputStyle.p-inputtext {
    color: var(--dark-grey);
}

:host ::ng-deep .p-button.actionStyle {
    background-color: var(--blue);
    border-radius: 0rem;

    .pi {
        color: var(--light-blue);
    }
}

.headerStyle {
    color: var(--light-blue);
    font-size: 20px;
    font-weight: bold;
}

::ng-deep .paginator-override {
    .p-paginator .p-paginator-pages .p-paginator-page {
        border-radius: 10% !important;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: var(--light-blue);
        border-color: var(--light-blue);
        color: white;
    }

    .p-paginator {
        justify-content: right;
    }
}