<div
  class="mainStyle"
  style="flex: 0 0 100%"
  *transloco="let t"
>
  <span class="headerStyle">{{ t('campoDeActuacion.title') }}</span>
  <div class="d-flex flex-row justify-content-between mt-2">
    <div class="d-flex flex-column gap-2 col-2">
      <label
        htmlFor="codigo"
        class="labelStyle"
        >{{ t('campoDeActuacion.field_id') }}</label
      >
      <input
        pInputText
        id="codigo"
        class="inputStyle"
        aria-describedby="codigo-help"
        [(ngModel)]="codigo"
      />
    </div>
    <div class="d-flex flex-column gap-2 col-5">
      <label
        htmlFor="deseccion"
        class="labelStyle"
        >{{ t('campoDeActuacion.field_description') }}</label
      >
      <input
        pInputText
        id="deseccion"
        class="inputStyle"
        aria-describedby="deseccion-help"
        [(ngModel)]="deseccion"
      />
    </div>
    <div class="d-flex flex-column gap-2 col-5">
      <label
        htmlFor="deseccionVal"
        class="labelStyle"
        >{{ t('campoDeActuacion.field_descriptionVal') }}</label
      >
      <input
        pInputText
        id="deseccionVal"
        class="inputStyle"
        aria-describedby="deseccionVal-help"
        [(ngModel)]="deseccionVal"
      />
    </div>
  </div>
  <div class="d-flex justify-content-end my-4 mr-2">
    <gva-button
      [btnLabel]="'campoDeActuacion.search_button'"
      [iconPosition]="'left'"
      [btnClass]="'actionStyle mr-2'"
      (btnClick)="filterHandler()"
    >
      <i class="material-icons iconStyle">search</i>
    </gva-button>
    <gva-button
      [btnLabel]="'campoDeActuacion.clear_button'"
      [iconPosition]="'left'"
      [btnClass]="'actionStyle mr-2'"
      (btnClick)="clearAll()"
    >
      <img src="assets/images/ink_eraser.svg" />
    </gva-button>
    <gva-button
      [btnLabel]="'campoDeActuacion.add_button'"
      [iconPosition]="'left'"
      [btnClass]="'actionStyle mr-2'"
      (btnClick)="openAddDialog()"
    >
      <i class="material-icons iconStyle">add</i>
    </gva-button>
  </div>
  <div class="card">
    <p-toast></p-toast>
    <generic-table
      [data]="campoDeActuacions"
      [columns]="columns"
      [paginatorConfig]="paginatorConfig"
      [tableConfig]="tableConfig"
      (openEdit)="openUpdateDialog($event)"
      (openDelete)="onDeleteHandler($event)"
    ></generic-table>
  </div>
</div>
