<div class="contentStyle">
  <div class="">
    <div
      *ngIf="headerExist"
      class="{{
        'headerStyle-' + headerStyle.dialogType
      }} d-flex flex-row justify-content-between"
    >
      <div class="d-flex flex-column gap-2 col-2 align-items-center">
        <span
          [className]="
            headerStyle?.icon + ' iconStyle-' + headerStyle.dialogType
          "
        ></span>
      </div>
      <div class="d-flex flex-column gap-2 col-10">
        <span>{{ headerStyle?.title }}</span>
        <span class="messageStyle mt-3">{{ alertMessage }}</span>
      </div>
    </div>
    <div
      *ngFor="let field of inputFields; let i = index"
      class="row align-items-center m-2"
    >
      <label
        htmlFor="{{ field.name }}"
        class="labelStyle col-4"
        >{{ field.label }}</label
      >
      <div class="d-flex flex-column gap-2 col-8">
        <input
          pInputText
          id="{{ field.name }}"
          class="inputStyle"
          [(ngModel)]="inputValues[field.name]"
          [disabled]="field.disabled ? field.disabled : 'false'"
        />
      </div>
    </div>
  </div>
</div>
<div class="{{ headerExist ? 'alertStyle' : '' }} app-dialog-footer">
  <button
    *ngFor="let button of actionButtons; let i = index"
    pButton
    (click)="button.action(inputValues)"
    class="buttonStyle"
    [disabled]="button.validate && button.validate(inputValues)"
  >
    <i
      *ngIf="button.icon"
      class="{{ button.icon }} p-1"
    ></i>
    {{ button.label }}
  </button>
</div>
