:root {
  --heading: #111827;
  --primary-color: #3483c7;
  --white-background: #ffffff;
  --user-background: #cbb4fc;
  --orange: #e86309;
  --green: #169455;
  --black: #000000;
  --grey: #7b7b7b;
  --light-grey: #e8e8e8;
  --light-greyish-blue: #d1d5db;
  --gainsboro: #dcdcdc;
  --white-smoke: #f6f6f6;
  --alice-blue: #eef9ff;
  --ghost-white: #f6f6f7;
  --dark-blue: #495057;
  --snow: #fbfbfb;
  --red: #ff0000;
  --solitude: #e4e7ea;
  --notification: #e9f5ff;
  --breadcrumb: rgba(0, 0, 0, 0.45);
  --accordion: #6c757d;
  --gridborder: #f3f3f3;
  --tuna: #343a40;
  --dawn-pink: #e9ecee;
  --jasper: #d23838;
  --border-bottom: #bbb9b957;
  --nobel: #949494;
  --dialogboxinnercircle: #ffdff6;
  --approxmagnolia: #e4f2fe;
  --han-purple: #e2d7f9;
  --pale-orange: #ffe7bb;
  --pale-purple: #e2d7f9;
  --pale-limegreen: #e2ffe3;
  --gray99: #fcfcfc;
  --pale-black: #3c40434d;
  --light-greyish-blue: #cbd5e1;
  --pink-lace: #ffdff6;
  --pink: #f689d7;
  --green: #22c55e;
  --dark-yellow: #cc8925;
  --light-yellow: #fdf2e2;
  --dark-purple: #5417d7;
  --reject-status: #f81919;
  --reject-button: #cf022b;
  --dark-red: #cf022b;
  --light-grayish-blue: #d1d5db;
  --pending-item-icon: #3483c7;
  --disable-items: #d9d9d9;
  --remove-penalty-color: #bb3737;
  --pale-green: #e8fce4;
  --light-blue: #e4f3ff;
}
