<div *transloco="let t">
  <p-table
    [value]="data"
    [paginator]="tableConfig.paginator"
    [rows]="tableConfig.rows"
    [scrollable]="true"
    [rowHover]="true"
    [tableStyle]="tableConfig.tableStyle"
    [showCurrentPageReport]="paginatorConfig.showCurrentPageReport"
    [rowsPerPageOptions]="paginatorConfig.rowsPerPageOptions"
    styleClass="{{ tableConfig.styleClass }}"
    class="column-gap"
    [currentPageReportTemplate]="
      t('pagination_text', {
        first: '{first}',
        last: '{last}',
        totalRecords: '{totalRecords}'
      })
    "
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let column of columns; let ind = index"
          pSortableColumn="{{ column.field }}"
          [pSortableColumnDisabled]="!column.sortable"
          class="{{ column.class }} columnStyle"
          id="{{ column.field }}"
        >
          {{ column.header | transloco }}
          <p-sortIcon
            *ngIf="column.sortable"
            field="{{ column.field }}"
          ></p-sortIcon>
        </th>
      </tr>
      <tr *ngIf="tableConfig.columnFilter">
        <th *ngFor="let column of columns; let ind = index">
          <p-columnFilter
            *ngIf="column.filter"
            type="text"
            field="{{ column.field }}"
            [showClearButton]="true"
          >
            <ng-template pTemplate="filtericon">
              <div class="flex align-items-center">
                <span class="material-icons-outlined">filter_alt</span>
              </div>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-item
    >
      <tr>
        <td *ngFor="let column of columns; let ind = index">
          <div
            *ngIf="column.field === 'action'"
            class="buttons-right"
          >
            <button
              *ngIf="tableConfig.showView"
              pButton
              pRipple
              [pTooltip]="t('tooltip.view')"
              tooltipPosition="bottom"
              type="button"
              (click)="onView(item)"
              class="p-button-rounded p-button-text p-0"
            >
              <span class="material-icons-outlined iconStyle">
                visibility
              </span>
            </button>
            <button
              *ngIf="tableConfig.showEdit"
              pButton
              pRipple
              [pTooltip]="t('tooltip.edit')"
              tooltipPosition="bottom"
              type="button"
              (click)="onEdit(item)"
              [disabled]="tableConfig.disableEdit"
              class="p-button-rounded p-button-text p-0 ml-2"
            >
              <span class="material-icons iconStyle"> edit </span>
            </button>
            <button
              *ngIf="tableConfig.showDelete"
              pButton
              pRipple
              [pTooltip]="t('tooltip.delete')"
              tooltipPosition="bottom"
              type="button"
              class="p-button-rounded p-button-text p-0 ml-2"
              [disabled]="tableConfig.disableDelete"
              (click)="onDelete(item)"
            >
              <span class="material-icons iconStyle"> delete </span>
            </button>
            <button
              *ngIf="tableConfig.showArchive && item['fbaja'] === null"
              pButton
              pRipple
              [pTooltip]="t('tooltip.archive')"
              tooltipPosition="bottom"
              type="button"
              class="p-button-rounded p-button-text p-0 ml-2"
              (click)="onArchive(item)"
            >
              <span class="material-icons iconStyle">archive</span>
            </button>
            <button
              *ngIf="tableConfig.showRestore && item['fbaja'] !== null"
              pButton
              pRipple
              [pTooltip]="t('tooltip.restore')"
              tooltipPosition="bottom"
              type="button"
              class="p-button-rounded p-button-text p-0 ml-2"
              (click)="onRestore(item)"
            >
              <span class="material-icons iconStyle"
                >settings_backup_restore</span
              >
            </button>
          </div>
          <span *ngIf="column.field !== 'action'">
            <span
              *ngIf="column.pipe && column.pipe === 'date'; else other_content"
              >{{ item[column.field] | date : column.pipeFormat }}</span
            >
            <ng-template #other_content
              ><span else>{{
                fetchByDotOperator(item, column.field)
              }}</span></ng-template
            >
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage"
      ><div class="p-2">{{ t('empty_message') }}</div></ng-template
    >
  </p-table>
</div>
