<div class="card">
  <p-table
    [value]="data"
    [paginator]="tableConfig.paginator"
    [rows]="tableConfig.rows"
    [tableStyle]="tableConfig.tableStyle"
    [showCurrentPageReport]="paginatorConfig.showCurrentPageReport"
    [rowsPerPageOptions]="paginatorConfig.rowsPerPageOptions"
    styleClass="{{ tableConfig.styleClass }}"
    currentPageReportTemplate="{{ paginatorConfig.currentPageReportTemplate }}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let column of columns; let ind = index"
          pSortableColumn="{{ column.field }}"
        >
          {{ column.header }}
          <p-sortIcon
            *ngIf="tableConfig.sortable"
            field="{{ column.field }}"
          ></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-product
    >
      <tr>
        <td *ngFor="let column of columns; let ind = index">
          {{ product[column.field] }}
        </td>
        <td>
          <div>
            <button
              pButton
              pRipple
              type="button"
              class="p-button-rounded p-button-text"
            >
              <img
                src="assets/images/glyphicons-halflings-13-pencil@2x.png"
                height="20"
              />
            </button>
            <button
              pButton
              pRipple
              type="button"
              class="p-button-rounded p-button-text"
            >
              <img
                src="assets/images/glyphicons-halflings-7-bin@2x.png"
                height="20"
              />
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
