.headerStyle {
  color: var(--light-blue);
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin: 0%;
}

.disabled {
  background-color: var(--lighter-white);
  .p-calendar-disabled {
    background-color: var(--lighter-grey);
  }
}
.ng-invalid.ng-touched {
  border-color: var(--red) !important;
}
::ng-deep .accordion {
  height: auto;
  .p-accordion-toggle-icon {
    width: 0;
  }

  .p-accordion-content {
    padding: 0.3rem;
  }
  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0;
    color: var(--light-blue);
    border-radius: 0%;
    background-color: var(--accordion);
    text-decoration: none;
    width: 100%;
  }

  .p-accordion
    .p-accordion-header:not(.p-disabled).p-highlight
    .p-accordion-header-link,
  .p-accordion
    .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
    .p-accordion-header-link {
    color: var(--light-blue);
    background-color: var(--accordion);
  }
}

::ng-deep .autoCompleteStyle {
  .p-autocomplete-input {
    border: 0.125rem solid var(--light-grey);
    height: 2.125rem;
    font-size: 1rem;
    border-radius: 0%;
    border-right: none;
  }
  .p-button {
    border-radius: 0%;
  }

  .p-button.p-button-icon-only {
    height: 2.125rem;
    background-color: var(--white);
    color: var(--light-blue);
    border: 0%;
    border: 0.125rem solid var(--light-grey);
    border-left: none;
  }

  .p-autocomplete-dropdown:disabled.p-button-icon-only {
    background-color: var(--lighter-grey);
  }
  .p-disabled {
    background-color: #f0f0f0;
  }

  .p-inputtext:enabled:hover {
    border-color: var(--black);
  }
}

:host ::ng-deep .p-button.actionStyle {
  background-color: var(--blue);
  border-radius: 0rem;

  .iconStyle {
    color: var(--light-blue);
  }
}
