<div *transloco="let t">
  <div class="grid">
    <div class="col-6">
      <p class="headerStyle">
        {{ t('solicitud_de_inscripcion.title') }}
      </p>
    </div>
    <div class="col-6 justify-content-end d-flex">
      <gva-button
        [btnLabel]="t('buttons.back')"
        [iconPosition]="'left'"
        [btnClass]="'actionStyle mr-2'"
        (btnClick)="perviousScreen()"
      >
        <span class="material-icons iconStyle"> arrow_back </span>
      </gva-button>

      <gva-button
        [btnLabel]="t('buttons.save')"
        [iconPosition]="'left'"
        [btnClass]="'actionStyle mr-2'"
        [btnDisabled]="!isValidForm"
        (btnClick)="onSubmit()"
        [hidden]="readOnlyMode"
      >
        <span class="material-icons iconStyle"> save </span>
      </gva-button>

      <gva-button
        [btnLabel]="
          isFechaBajaNull ? t('buttons.archivar') : t('buttons.restaurar')
        "
        [iconPosition]="'left'"
        [btnClass]="'actionStyle mr-2'"
        (btnClick)="updateFechaBaja()"
        [hidden]="readOnlyMode"
      >
        <span class="material-icons iconStyle"> inventory_2 </span>
      </gva-button>
    </div>
  </div>
  <hr />
  <p-accordion
    class="accordion"
    [activeIndex]="0"
    ><form [formGroup]="datosPrincipalesForm">
      <input
        id="id"
        type="hidden"
        formControlName="id"
      />
      <p-accordionTab formGroupName="entidad">
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <p class="mt-2">{{ t('solicitud_de_inscripcion.title_tab_1') }}</p>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          contentStyle="accordion-content"
        >
          <div class="grid">
            <div class="col-2">
              <label
                class="labelStyle"
                for="nifcif"
                >{{ t('lable.cif') }}*</label
              >
              <div class="w-full">
                <input
                  id="nifcif"
                  type="text"
                  [(ngModel)]="cifNif"
                  class="p-inputtext inputStyle w-full"
                  [maxLength]="9"
                  (blur)="!readOnlyMode && fetchDetails(cifNif)"
                  formControlName="nifcif"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
            <div class="col-4">
              <label
                class="labelStyle"
                for="denomsocial"
                >{{ t('lable.razon_social') }}*</label
              >
              <div class="w-full">
                <input
                  id="denomsocial"
                  type="text"
                  [maxLength]="250"
                  class="p-inputtext inputStyle w-full"
                  formControlName="denomsocial"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
            <div class="col-6">
              <label
                class="labelStyle"
                for="domsocial"
                >{{ t('lable.domicilio_social') }}*</label
              >
              <div class="w-full">
                <input
                  id="domsocial"
                  type="text"
                  [maxLength]="250"
                  class="p-inputtext inputStyle w-full"
                  formControlName="domsocial"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-2">
              <label
                class="labelStyle"
                for="codpro"
              >
                {{ t('lable.provincia') }}</label
              >
              <div class="w-full">
                <p-autoComplete
                  id="codpro"
                  formControlName="codpro"
                  class="autoCompleteStyle w-full"
                  [dropdown]="true"
                  [suggestions]="filteredProvincia"
                  (completeMethod)="!readOnlyMode && filterProvincia($event)"
                  (onSelect)="
                    loadMunicipio(
                      this.datosPrincipalesForm.get('entidad.codpro').value
                        .provCodProvincia
                    )
                  "
                  field="provDenominacion"
                  [readonly]="readOnlyMode"
                >
                </p-autoComplete>
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="codmun"
              >
                {{ t('lable.municipio') }}
              </label>
              <div class="w-full">
                <p-autoComplete
                  id="codmun"
                  formControlName="codmun"
                  class="autoCompleteStyle"
                  [dropdown]="true"
                  [suggestions]="filteredMunicipio"
                  (completeMethod)="!readOnlyMode && filterMunicipio($event)"
                  (onSelect)="
                    loadCP(
                      this.datosPrincipalesForm.get('entidad.codmun').value
                        .muniCodProvincia,
                      this.datosPrincipalesForm.get('entidad.codmun').value
                        .muniCodMunicipio
                    )
                  "
                  field="muniDenominacion"
                >
                </p-autoComplete>
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="cp"
              >
                {{ t('lable.c_postal') }}</label
              >
              <div class="w-full">
                <p-autoComplete
                  id="cp"
                  formControlName="cp"
                  class="autoCompleteStyle w-full"
                  [dropdown]="true"
                  [suggestions]="filteredPostal"
                  (completeMethod)="!readOnlyMode && filterPostal($event)"
                  field="cpostCodPostal"
                >
                </p-autoComplete>
              </div>
            </div>

            <div class="col-2">
              <label
                class="labelStyle"
                for="numinscripcion"
              >
                {{ t('lable.n_registro') }}</label
              >
              <div class="w-full">
                <input
                  id="numinscripcion"
                  type="text"
                  [maxLength]="10"
                  class="p-inputtext inputStyle w-full"
                  formControlName="numinscripcion"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="feentrada"
              >
                {{ t('lable.feentrada') }}
              </label>
              <div class="w-full">
                <p-calendar
                  id="feentrada"
                  class="calenderStyle w-full"
                  [dateFormat]="calendarDateFormat"
                  [showIcon]="true"
                  placeholder="{{ t('date.dd/mm/yyyy') }}"
                  formControlName="feentrada"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                ></p-calendar>
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="fbaja"
              >
                {{ t('lable.fecha_baja') }}
              </label>
              <div class="w-full">
                <p-calendar
                  id="fbaja"
                  formControlName="fbaja"
                  class="calenderStyle disabled w-full"
                  placeholder="{{ t('date.dd/mm/yyyy') }}"
                  [dateFormat]="calendarDateFormat"
                  [showIcon]="true"
                  [showOnFocus]="false"
                  readonly="true"
                  [disabled]="true"
                >
                </p-calendar>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-3">
              <label
                class="labelStyle"
                for="email"
              >
                {{ t('lable.e-mail') }}</label
              >
              <div class="w-100">
                <input
                  id="email"
                  type="text"
                  [maxLength]="50"
                  class="p-inputtext inputStyle w-full"
                  formControlName="email"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="telefono"
              >
                {{ t('lable.telefono') }}</label
              >
              <div class="w-full">
                <input
                  id="telefono"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext inputStyle w-full"
                  formControlName="telefono"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="fax"
              >
                {{ t('lable.telefono2') }}</label
              >
              <div class="w-100">
                <input
                  id="fax"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext inputStyle w-full"
                  formControlName="fax"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="publicaWeb"
              >
                {{ t('lable.publicar_en_web') }}</label
              >
              <div class="w-full">
                <p-checkbox
                  [binary]="true"
                  id="publicaWeb"
                  class="checkboxStyle"
                  formControlName="publicaWeb"
                ></p-checkbox>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-12">
              <label
                class="labelStyle"
                for="observaciones"
              >
                {{ t('lable.observaciones') }}</label
              >
              <div class="w-100">
                <input
                  id="observaciones"
                  type="text"
                  [maxLength]="80"
                  class="p-inputtext inputStyle w-full"
                  formControlName="observaciones"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab
        formGroupName="notificaciones"
        (click)="fillDefaultNotification()"
      >
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <p class="mt-2">{{ t('solicitud_de_inscripcion.title_tab_2') }}</p>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          contentStyle="accordion-content"
        >
          <div class="grid">
            <div class="col">
              <div class="w-full">
                <p-checkbox
                  [binary]="true"
                  id="addressCopy"
                  formControlName="addressCopy"
                  class="checkboxStyle"
                ></p-checkbox>
                <label
                  class="labelStyle"
                  for="addressCopy"
                >
                  {{ t('lable.copiar_notificaciones') }}</label
                >
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-6">
              <label
                class="labelStyle"
                for="dirDomicilio"
              >
                {{ t('lable.domicilio') }}</label
              >
              <div class="w-full">
                <input
                  id="dirDomicilio"
                  formControlName="dirDomicilio"
                  type="text"
                  [maxLength]="250"
                  class="p-inputtext inputStyle w-full"
                  [ngClass]="{ disabled: copyAdress }"
                  [readonly]="copyAdress ? 'readonly' : ''"
                />
              </div>
            </div>

            <div class="col-2">
              <label
                class="labelStyle"
                for="dirCodpro"
              >
                {{ t('lable.provincia') }}</label
              >
              <div class="w-full">
                <p-autoComplete
                  id="dirCodpro"
                  formControlName="dirCodpro"
                  class="autoCompleteStyle w-full"
                  [dropdown]="true"
                  [suggestions]="filteredProvincia"
                  (completeMethod)="!copyAdress && filterProvincia($event)"
                  field="provDenominacion"
                  [readonly]="copyAdress || readOnlyMode"
                  [disabled]="copyAdress || readOnlyMode"
                  (onSelect)="
                    loadMunicipio(
                      this.datosPrincipalesForm.get('notificaciones.dirCodpro')
                        .value.provCodProvincia
                    )
                  "
                >
                </p-autoComplete>
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="dirCodmun"
              >
                {{ t('lable.municipio') }}
              </label>
              <div class="w-full">
                <p-autoComplete
                  id="dirCodmun"
                  formControlName="dirCodmun"
                  class="autoCompleteStyle w-full"
                  [dropdown]="true"
                  [suggestions]="filteredMunicipio"
                  (completeMethod)="!copyAdress && filterMunicipio($event)"
                  (onSelect)="
                    loadCP(
                      this.datosPrincipalesForm.get('notificaciones.dirCodmun')
                        .value.muniCodProvincia,
                      this.datosPrincipalesForm.get('notificaciones.dirCodmun')
                        .value.muniCodMunicipio
                    )
                  "
                  field="muniDenominacion"
                  [readonly]="copyAdress"
                  [disabled]="copyAdress"
                >
                </p-autoComplete>
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="dirCp"
              >
                {{ t('lable.c_postal') }}</label
              >
              <div class="w-full">
                <p-autoComplete
                  id="dirCp"
                  formControlName="dirCp"
                  class="autoCompleteStyle w-full"
                  field="cpostCodPostal"
                  [dropdown]="true"
                  [suggestions]="filteredPostal"
                  (completeMethod)="!copyAdress && filterPostal($event)"
                  [readonly]="copyAdress"
                  [disabled]="copyAdress"
                >
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-3">
              <label
                class="labelStyle"
                for="dirEmail"
              >
                {{ t('lable.e-mail') }}</label
              >
              <div class="w-full">
                <input
                  id="dirEmail"
                  type="text"
                  [maxLength]="50"
                  class="p-inputtext inputStyle w-full"
                  formControlName="dirEmail"
                  [ngClass]="{ disabled: copyAdress || readOnlyMode }"
                  [readonly]="copyAdress ? 'readonly' : ''"
                />
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="dirTelefono"
              >
                {{ t('lable.telefono') }}</label
              >
              <div class="w-full">
                <input
                  id="dirTelefono"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext inputStyle w-full"
                  formControlName="dirTelefono"
                  [ngClass]="{ disabled: copyAdress || readOnlyMode }"
                  [readonly]="copyAdress ? 'readonly' : ''"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab formGroupName="representantesDTO">
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <p class="mt-2">{{ t('solicitud_de_inscripcion.title_tab_3') }}</p>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          contentStyle="accordion-content"
        >
          <div class="grid">
            <div class="col-2">
              <label
                class="labelStyle"
                for="nifcif"
                >{{ t('lable.nif_cif') }}*</label
              >
              <div class="w-full">
                <input
                  id="snifcif"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext inputStyle w-full"
                  formControlName="nifcif"
                  [ngClass]="readOnlyMode ? 'disabled' : ''"
                  [disabled]="readOnlyMode"
                  (blur)="
                    checkRepresentanteLegalCifNif(
                      datosPrincipalesForm.get('representantesDTO.nifcif').value
                    )
                  "
                />
              </div>
            </div>
            <div class="col-4">
              <label
                class="labelStyle"
                for="nombre"
                >{{ t('lable.nombre') }}</label
              >
              <div class="w-full">
                <input
                  id="snombre"
                  type="text"
                  [maxLength]="30"
                  class="p-inputtext inputStyle w-full"
                  formControlName="nombre"
                  [ngClass]="readOnlyMode || !isLegalCifNif ? 'disabled' : ''"
                  [readonly]="!isLegalCifNif"
                />
              </div>
            </div>
            <div class="col-6">
              <label
                class="labelStyle"
                for="apellidos"
                >{{ t('lable.apellidos') }}</label
              >
              <div class="w-full">
                <input
                  id="sapellidos"
                  type="text"
                  formControlName="apellidos"
                  [maxLength]="80"
                  class="p-inputtext inputStyle w-full"
                  [ngClass]="readOnlyMode || !isLegalCifNif ? 'disabled' : ''"
                  [readonly]="!isLegalCifNif"
                />
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-6">
              <label
                class="labelStyle"
                for="domicilio"
              >
                {{ t('lable.domicilio') }}</label
              >
              <div class="w-full">
                <input
                  id="sdomicilio"
                  type="text"
                  formControlName="domicilio"
                  [maxLength]="250"
                  class="p-inputtext inputStyle w-full"
                  [ngClass]="readOnlyMode || !isLegalCifNif ? 'disabled' : ''"
                  [readonly]="!isLegalCifNif"
                />
              </div>
            </div>

            <div class="col-2">
              <label
                class="labelStyle"
                for="codpro"
              >
                {{ t('lable.provincia') }}</label
              >
              <div class="w-full">
                <p-autoComplete
                  id="codpro"
                  formControlName="codpro"
                  class="autoCompleteStyle w-full"
                  [dropdown]="true"
                  [suggestions]="filteredProvincia"
                  (completeMethod)="filterProvincia($event)"
                  (onSelect)="
                    loadMunicipio(
                      this.datosPrincipalesForm.get('representantesDTO.codpro')
                        .value.provCodProvincia
                    )
                  "
                  field="provDenominacion"
                  [readonly]="!isLegalCifNif || readOnlyMode"
                  [disabled]="readOnlyMode || !isLegalCifNif"
                >
                </p-autoComplete>
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="codmun"
              >
                {{ t('lable.municipio') }}
              </label>
              <div class="w-full">
                <p-autoComplete
                  id="scodmun"
                  formControlName="codmun"
                  class="autoCompleteStyle w-full"
                  [dropdown]="true"
                  [suggestions]="filteredMunicipio"
                  (completeMethod)="filterMunicipio($event)"
                  (onSelect)="
                    loadCP(
                      this.datosPrincipalesForm.get('representantesDTO.codmun')
                        .value.muniCodProvincia,
                      this.datosPrincipalesForm.get('representantesDTO.codmun')
                        .value.muniCodMunicipio
                    )
                  "
                  field="muniDenominacion"
                  [readonly]="readOnlyMode || !isLegalCifNif"
                  [disabled]="readOnlyMode || !isLegalCifNif"
                >
                </p-autoComplete>
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="cp"
              >
                {{ t('lable.c_postal') }}</label
              >

              <div class="w-full">
                <p-autoComplete
                  id="scp"
                  formControlName="cp"
                  class="autoCompleteStyle w-full"
                  field="cpostCodPostal"
                  [dropdown]="true"
                  [suggestions]="filteredPostal"
                  (completeMethod)="filterPostal($event)"
                  [readonly]="readOnlyMode || !isLegalCifNif"
                  [disabled]="readOnlyMode || !isLegalCifNif"
                >
                </p-autoComplete>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-3">
              <label
                class="labelStyle"
                for="email"
              >
                {{ t('lable.e-mail') }}</label
              >
              <div class="w-full">
                <input
                  id="semail"
                  type="text"
                  [maxLength]="50"
                  class="p-inputtext inputStyle w-full"
                  formControlName="email"
                  [ngClass]="readOnlyMode || !isLegalCifNif ? 'disabled' : ''"
                  [readonly]="!isLegalCifNif"
                />
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="telefono"
              >
                {{ t('lable.telefono') }}</label
              >
              <div class="w-full">
                <input
                  id="stelefono"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext inputStyle w-full"
                  formControlName="telefono"
                  [ngClass]="readOnlyMode || !isLegalCifNif ? 'disabled' : ''"
                  [readonly]="!isLegalCifNif"
                />
              </div>
            </div>
            <div class="col-2">
              <label
                class="labelStyle"
                for="fax"
              >
                {{ t('lable.telefono2') }}</label
              >
              <div class="w-full">
                <input
                  id="sfax"
                  type="text"
                  [maxLength]="9"
                  class="p-inputtext inputStyle w-full"
                  formControlName="fax"
                  [ngClass]="readOnlyMode || !isLegalCifNif ? 'disabled' : ''"
                  [readonly]="!isLegalCifNif"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <p class="mt-2">{{ t('solicitud_de_inscripcion.title_tab_4') }}</p>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          contentStyle="accordion-content"
        >
          <app-oficinas></app-oficinas>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <p class="mt-2">
              {{ t('solicitud_de_inscripcion.acreditaciones_title') }}
            </p>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          contentStyle="accordion-content"
        >
          <app-acreditaciones></app-acreditaciones>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <p class="mt-2">
              {{ t('solicitud_de_inscripcion.actualizaciones_title') }}
            </p>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          contentStyle="accordion-content"
        >
          <app-actualizaciones></app-actualizaciones>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <p class="mt-2">
              {{ t('solicitud_de_inscripcion.documentos_title') }}
            </p>
          </div>
        </ng-template>
        <ng-template
          pTemplate="content"
          contentStyle="accordion-content"
        >
          <app-documentos></app-documentos>
        </ng-template>
      </p-accordionTab>
    </form>
  </p-accordion>
</div>
