<div
  class="mainStyle"
  style="flex: 0 0 100%"
  *transloco="let t"
>
  <span class="headerStyle">{{ t('requerimientosSubsanacion.title') }}</span>
  <div class="d-flex flex-row justify-content-between mt-2">
    <div class="d-flex flex-column gap-2 col-2">
      <label
        htmlFor="codigo"
        class="labelStyle"
        >{{ t('requerimientosSubsanacion.field_id') }}</label
      >
      <input
        pInputText
        id="codigo"
        class="inputStyle"
        aria-describedby="codigo-help"
        maxlength="10"
        [(ngModel)]="codigo"
      />
    </div>
    <div class="d-flex flex-column gap-2 col-5">
      <label
        htmlFor="derequerimiento"
        class="labelStyle"
        >{{ t('requerimientosSubsanacion.field_description') }}</label
      >
      <input
        pInputText
        id="derequerimiento"
        class="inputStyle"
        aria-describedby="derequerimiento-help"
        [(ngModel)]="derequerimiento"
      />
    </div>
    <div class="d-flex flex-column gap-2 col-5">
      <label
        htmlFor="derequerimientoVal"
        class="labelStyle"
        >{{ t('requerimientosSubsanacion.field_descriptionVal') }}</label
      >
      <input
        pInputText
        id="derequerimientoVal"
        class="inputStyle"
        aria-describedby="derequerimientoVal-help"
        [(ngModel)]="derequerimientoVal"
        disabled="true"
      />
    </div>
  </div>
  <div class="d-flex justify-content-end my-4 mr-2">
    <gva-button
      [btnLabel]="'buttons.search'"
      [iconPosition]="'left'"
      [btnClass]="'actionStyle mr-2'"
      (btnClick)="filterHandler()"
    >
      <span class="material-icons iconStyle">search</span>
    </gva-button>
    <gva-button
      [btnLabel]="'buttons.clear'"
      [iconPosition]="'left'"
      [btnClass]="'actionStyle mr-2'"
      (btnClick)="clearAll()"
    >
      <img src="assets/images/ink_eraser.svg" alt=""/>
    </gva-button>
    <gva-button
      [btnLabel]="'buttons.add'"
      [iconPosition]="'left'"
      [btnClass]="'actionStyle mr-2'"
      [btnDisabled]="true"
    >
      <span class="material-icons iconStyle">add</span>
    </gva-button>
  </div>
  <div class="card">
    <generic-table
      [data]="requerimientosSubsanacions"
      [columns]="columns"
      [paginatorConfig]="paginatorConfig"
      [tableConfig]="tableConfig"
    ></generic-table>
  </div>
</div>
